* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */

}

#container {
  /* display: flex; */
  /* flex-direction: column; */
  width: (100vw - 2px);
  min-width: fit-content
}

#header {
  /*  header within the container */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

#middle-section {
  /* entire middle of the page  */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  /* sidebar of the page containing start guess and I give up buttons and modal when called */
display: flex;
flex-direction: column;

width: 200px;

}





.modal {
  /* modal that opens the list of counties in the sidebar */
  display: flex;
  flex-direction: column;
  /* width: 40vw; */
  /* height: 50vh; */
  justify-content: center;
  align-items: center;
}

.modal-body {
  /* space of the button in the modal */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}